.send_message_container {

    .chat_column {
        width: 100%;
        border-top: 1px solid rgba(133, 129, 129, 0.144);
        border-radius: 0 0 5px 5px;
    }

    .grouped_input {
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: space-between;


        .message_input {
            width: 100%;
            height: 100%;
            padding: 1.5em;
            border: none;
            outline: none;
            color: white !important;
            background-color: transparent;
        }

        .send_button {
            all: unset;
            width: auto;
            background-color: #1e2e4b;
            padding: 1.5em 3em;
            border-radius: 2px;
            word-break: keep-all;
            word-wrap: normal;
            cursor: pointer;
        }
    }
}