$quiz-primary-color: #021C40;
$quiz-secondary-color: #262515;
$quiz-white: #ffffff;
$quiz-black: #000000;
$quiz-link: #1b7356;
$quiz-label: #061f48;
$quiz-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
$quiz-deep-shadow: 0 1px 3px rgb(51 71 91 / 15%);
$quiz-layout-bgcolor: rgba(215, 255, 234, 0.009);